<?php
/**
 * @package ET_Ajax
 * @version 1.0.4
 * @copyright Copyright (c) 2014 EcomTheme. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<button onclick="hideModal();" class="button" title="<?php echo $this->__('Continue shopping');?>" type="button"><span><span><?php echo $this->__('Continue shopping');?></span></span></button>
<button onclick="setLocation('<?php echo $this->getUrl('checkout/cart'); ?>');" class="button" title="<?php echo $this->__('Go To Cart');?>" type="button"><span><span><?php echo $this->__('Go To Cart');?></span></span></button>