.category-image{
	margin-bottom: 20px;
	img{
		max-width: 100%;
	}
}
.category-description{
	margin-bottom: 20px;
	img{
		width: 100%;
	}
}

/*products grid*/
.products-grid{
	padding: 0;
	float: left;
	width: 100%;
	margin-top: 20px;
	.owl-carousel .owl-stage-outer{
		overflow: visible;
	}
	.item{
		margin-bottom: 20px;
		.item-inner{
			border: 1px solid @border-color;
			width: 100%;
			float: left;
			padding: 4px;
			&:hover{
				box-shadow: 0 0 3px #d7d7d7;
				.product-image{
					.item-quickview,
					.item-wc-wrap{
					    .opacity(1);
					}				
				}
			}			
		}				
	}

	.product-image{		
		position: relative;
		img{
			width: 100%;
		}
		.item-quickview,
		.item-wc-wrap{
			.opacity(0);
		}
	}	

	.product-info{
	    float: left;
	    overflow: hidden;
	    padding: 10px 15px 15px;
	    width: 100%;			
		.product-name{			    
		    position: relative;
		    > a{
		    	display: inline-block;
		    	margin: 2px 0 15px;
		    }
		}
		.ratings{
			.amount{
				display: none;
			}
		}	
	}

	.price-box{
		padding: 12px 0;
		border-bottom: 1px solid @border-color;
		border-top: 1px solid @border-color;
		margin: 0;
		float: left;
		width: 100%;
		.price {
			float: right;
		}	
		.old-price{
		    margin: 0;	
		}			
	}	
}


/*products list*/
.products-list{
	list-style: none;
	padding: 0;
	float: left;
	width: 100%;
	margin-top: 20px;
	.f-fix-left,
	.f-fix-right{
		float: left;
		padding: 0 30px;
		width: 50%;
	}
	.f-fix-left{
		position: relative;
		padding-right: 50px;
		&:before{
			position: absolute;
			top: -40px;
			right: 0;
			width: 1px;
			height: 1000px;
			background: @border-color;
			content: "";
		}
	}
	.item{
		margin-bottom: 20px;
		float: left;
		width: 100%;
		padding: 4px 0 4px 4px;
		border: 1px solid @border-color;
		overflow: hidden;
		&:hover{
			box-shadow: 0 0 3px #d7d7d7;
			.product-image{
				.item-quickview,
				.item-wc-wrap{
					.opacity(1);
				}
			}
		}
		.product-image{
			float: left;
			position: relative;
			.item-quickview,
			.item-wc-wrap{
				.opacity(0);
			}
		}
		.item-addcart{
			text-align: left;
		}
		.price-box{
			padding: 12px 0;
			border-bottom: 1px solid @border-color;
			border-top: 1px solid @border-color;
			margin: 0;
			float: left;
			width: 100%;
			.price {
				float: right;
			}	
			.old-price{
			    margin: 0;	
			}			
		}		
		.product-shop{
			margin-top: 5px;
			margin-left: 262px;
			.product-name{
				a{
				    font-size: 138.46%;	
				    margin-top: 5px;
				    margin-bottom: 15px;	
				    display: inline-block;					
				}	
			}
			.ratings{
				.amount{
					display: none;
				}
			}
			.no-rating{
				float: none;
				margin-bottom: 3px;
			}
			.desc.std{
				float: left;
				margin: 10px 0;
			}			
		}
	}
}

