//css for bottom
.btn-remove,
.btn-remove2{
	background: none;
	font-size: 0;
	&:before{
		font-family: FontAwesome;
		content: "\f014";		
		top: 5px;
		left: 0;
		font-size: 12px;
		color: #c5c5c5; 
	}
	&:hover:before{
		color: @theme-color;
	}
}
.btn-edit{
	background: none;
	font-size: 0;
	&:before{
		font-family: FontAwesome;
		content: "\f040";		
		top: 5px;
		left: 0;
		font-size: 12px;
		color: #c5c5c5; 
	}
	&:hover:before{
		color: @theme-color;
	}
}
.button{
    color: #fff;
	font-size: 84.62%;
    line-height: 100%;
    padding: 11px 15px;
    height: 34px;
    border: none;
	background: #31353b;
	text-transform: uppercase;
	border-radius: @border-radius;
	&:hover, &:focus{
		background: @theme-color;
	}
	&.btn-continue{
		float: left;
	}
	
	&.btn-proceed-checkout{
		background: @theme-color;
		&:hover, &:focus{
			background: #31353b;
		}
	}
}


//css page title
.page-title{
	    font-size: 230.77%;
	    font-family: @google-font-title;   
	    width: 100%;
	    display: inline-block;
	    position: relative;
	    margin-bottom: 20px;	    
	    h1{
	    	font-weight: bold;
	    	float: left;
	    	font-size: 100%; 
	    	margin: 0;
	    	line-height: 100%;	
	    }
	    .link-reorder,
	    .separator,
	    .link-print{
	    	font-size: 13px;
	    }
}
.title-buttons {
	text-align: right;
	h1, h2, h3, h4, h5, h6 {
	    float: left;
	}
    span{
        span{
            font-size: 12px;
            float: left;
            line-height: 100%;
        }
    }
}



//icon add cart, compare, wishlist, quickview
.item-wc-wrap{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
}
.email-friend,
.item-wishlist,
.item-compare{
    height: 34px;
    width: 50%;
    color: #fff;
	float: left;
	position: relative;	
	background: #31353b;
	padding: 0;	
	text-align: center;
	border-left: 1px solid #707070;
	&:before{
		margin-top:6px;
		content: "\f07a";
		width: 100%;
		height: 100%;
		font-size: 13px;
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
	}
	&:hover{
		background: @theme-color;
		color: #fff;
		cursor: pointer;
		border-left: 1px solid #fff;
	}
}

.item-wishlist:before{
	content: "\f08a";
}
.item-compare:before{
	content: "\f0ec";
}
.email-friend{
	margin-left: 10px;
	margin-right: 0;
	width: 43px;
	height: 43px;
	border-radius: @border-radius;
	border: none;
	&:before{
		content: "\f1e0";
		font-size: 16px;
		margin-top: 11px;
	}
	&:hover{
		border: none;
	}
}

.item-wishlist > a,
.item-compare > a,
.email-friend > a{
    font-size: 0;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
.item-addcart{
	float: left;
	margin-top: 15px;	
	text-align: center;
	width: 100%;
}
.women-men-wrap{
	.item-addcart,
	.item-wishlist{
		margin-right: 3px;
	}
}
.item-quickview{
	position: absolute;
	bottom: 0;
	left: 0;
	background: @theme-color;
	text-transform: uppercase;
	font-family: @google-font-title ;
	font-size: 84.62%;
	font-weight: bold;
	height: 34px;
	width: 60%;
	padding: 11px 5px;
	line-height: 100%;
	text-align: center;
	> a{
	    color: #fff;
	}
	&:hover{
		background: #31353b;
		> a{
		    color: #fff;
		}		
	}	
} 

//css stick
.sale-product, .new-product {
    background-color: #ed1c24;
    color: #FFFFFF;
    font-size: 14px;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 15px;
    top: 15px;    
    text-align: center;
    padding: 15px 0;
    border-radius: 50%;
}
.new-product {
    background-color: #9be460;
    right: auto;
    left: 15px;
}


