
.footer-container{
	padding-top: 40px;
	background-color: #fff;
	color: #ccc;
	a{
		color: #ccc;
		&:hover{
			color: @theme-color;
		}
	}
	.footer{
		border-top: 3px solid #000;
		background: #31353b;		
		.block-title-footer,
		.block .block-title{
			font-family: @google-font-title;
			text-transform: uppercase;
			line-height: normal;
			color: #fff;
			font-size: 100%;
			padding: 0;
			padding-bottom: 15px;
			margin: 0;
			margin-bottom: 10px;
			position: relative;
			font-weight: bold;
			&:before{
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				width: 40px;
				height: 2px;
				background: @theme-color;
			}
		}
		.block .block-title{
			&:before{
				width: 0;
			}
			strong{
				float: none;
				border: none;
				padding: 0;
				background: transparent;
				font-weight: normal;
				font-size: 100%;
				span{
					color: #fff;
				}
			}
		}
		.block-content-footer{
			list-style: none;
			li{
				display: inline-block;
				width: 100%;
				margin: 5px 0;
			}
		}

		//happy client
		.happy-clients{
		    padding: 35px 15px 30px;
		    text-align: center;	
		    background-color: @theme-color;
		    background-image: url(../images/reforce-bg.png);
		    
		    border-left: 1px solid #131313;
		    border-right: 1px solid #131313;
		    color: #fff;
		    .happy-clients-title{
		    	font-size: 184.62%;
		    	font-weight: bold;
		    	margin-bottom: 25px;
		    }
		    .happy-client-des{
			    margin-bottom: 25px;
			    position: relative;	 
			    font-size: 107.69%;
			    font-family: 'Georgia'; 
			    font-style: italic;	
			    line-height: 24px;
		    }
		    .happy-client-info{
			   	display: inline-block;
			    text-align: left;	    	
			    img{
			    	float: left;
		    		margin-right: 10px;
		    		width: auto !important;
		    		border-radius: 50%;
		    		border: 3px solid #fff;
			    }	
			    .happy-client-name{				    
				    display: inline-block;
				    margin-top: 15px;
				    font-weight: bold;
			    }   
			    .happy-client-infolocation{
				    white-space: nowrap;
			    } 	
		    }
		    .owl-controls{		    	    
		    	    width: 100%;  
		    	    margin-top: 30px;
		    	.owl-dots{
		    		margin: 0 auto;
		    	    display: inline-table;
		    	}    		
				.owl-dot{
					width: 10px;
					height: 10px;
					background-color: #fff;
					border-radius: 50%;
					margin: 0 3px;
					float: left;
					position: relative;
					&:before{
						position: absolute;
						top: -2px;
						left: -2px;
						border: 1px solid #fff;
						content: "";
						width: 14px;
						height: 14px;
						border-radius: 50%;
						display: none;
					}
					&:hover, &.active{
						&:before{
							display: block;
						}
					}
				}    	
	    	}    	
		}

		//Footer-top
		.footer-top{						
			.footer-top-left{
				margin: 30px 0 25px;
			}
			.footer-payment-social{
				border-top: 1px solid #000;
				ul{
					list-style: none;
					li{
						float: left;
					}				
				}				
			}

			//payment
			.block-payment{
				float: left;
				text-align: right;
				width: 100%;
				padding: 22px 0;
				.block-payment-title{
					float: left;
					font-family: @google-font-title;
					text-transform: uppercase;
					line-height: normal;
					color: #fff;
					font-size: 100%;
					font-weight: bold;					
					margin-right: 15px;
					margin-top: 8px;
				}
				ul{
					li{
						margin-left: 30px;
						float: left;
					}					
				}
			}

			//social
			.block-social-footer{
				border-left: 1px solid #131313;
		    	border-right: 1px solid #131313;
		    	float: left;
		    	width: 100%;
		    	padding: 20px 0;
				ul{
					list-style: none;
					li{
						float: left;
						margin-left: 30px;
						width: 36px;
						height: 36px;
						text-align: center;
						background-color: #969284;
						a{
							font-size: 0;
							color: #fff;
							&:before{
								content: attr(data-icon);
							    font-family: 'Socialico';
							    font-size: 21px;
							    font-weight: normal;
							    line-height: 34px;
							    display: inline-block;
							}
						}
						&.facebook{
							background-color: #3b5998;
						}
						&.twitter{
							background-color: #00aced;
						}
						&.google{
							background-color: #dd4b39;
						}													
						&.pinterest{
							background-color: #e92e51;
						}
						&.skype{
							background-color: #20d2ff;
						}
						&.youtube{
							background-color: #bb0000;
						}
						&.instagram{
							background-color: #517fa4;
						}				
					}
				}
			}						
		}

		//Footer under
		.footer-under{
			background: #131313;
			padding: 27px 0;
			text-align: center;
		}
	}
}

