.header-container{
	.header{		
		color: #ccc;
		.header-top{
			background: #31353b;			

			//language and currentcy
			.header-setting{
				border-left: 1px solid #252525;
				float: left;	
				font-size: 92.31%;	
				height: 40px;
				
				.form-language,
				.block-currency{
			    	float: left;
			    	position: relative;
			    	border-right: 1px solid #252525;
			    	height: 40px;
			    	
			    	> span{
			    		display: block;
			    		padding: 10px 15px;
			    		background-position: 10px center !important;
			    		color: #fff;
			    		cursor: pointer;
			    		
						&:after{
							content: "\f107";
							font-family: 'FontAwesome';
							margin-left: 5px;
						}
			    	}
			    	
			    	ul {
			    		position: absolute;
			    		top: 40px;
			    		left: -1px;
			    		background-color: #fff;
			    		z-index: 999;
			    		padding: 5px 0 10px;
			    		border: 1px solid @border-color;
			    		border-top: none;
			    		list-style: none;
			    		display: none;
			    		width: 100%;
			    		
			    		li {
			    			a {
			    				display: block;
			    				padding: 8px 15px;

			    				&.selected{
			    					color: @theme-color;			    					
			    				}
			    				&:hover{
			    					color: @theme-color;
			    					background-color: #f6f6f6; 
			    				}
			    			}
			    		}
			    	}
			    	
			    	&:hover {
			    		ul {
			    			display: block;
			    		}
			    	}
				}
			    .form-language {
			    	> span {
			    		padding-left: 35px;
			    	}
			    	ul {
			    		min-width: 115px;
			    		li {
			    			a {
			    				background-repeat: no-repeat;
			    				background-position: 10px center;
			    				padding-left: 35px;
			    			}
			    		}
			    	}
			    }
			    
			    .block-currency{
			    	ul{
			    		min-width: 70px;
			    	}
			    }
			}			

			//login and account
			.header-login{
				float: right;	
				height: 40px;			
				> span{
					padding: 10px 30px;
					display: block;
					position: relative;
					a{
						color: #ccc;
					}
					&:before{
					    font-family: FontAwesome;
					    margin-right: 5px;
					}

				}
				&:hover{
					> span{
						color: #fff;
						background: @theme-color;
						cursor: pointer;						
						a{
							color: #fff;
						}
					}
				}
			}

			//login popup
			.header-login{
				border-right: 1px solid #252525;
				border-left: 1px solid #252525;
				float: right;
				> span{
					padding: 10px 30px;
					display: block;
					position: relative;
					font-size: 92.31%;
					a{
						color: #ccc;
					}
					&:before{
					    font-family: FontAwesome;
					    margin-right: 5px;
					    content: "\f13e";
					}

				}
				&:hover{
					> span{
						color: #fff;
						background: @theme-color;
						cursor: pointer;						
						a{
							color: #fff;
						}
					}
				}				
				#modal-login{
					overflow-y: hidden !important;
				}
				.popup-login{
					background: #fff;
					padding: 0;
					width: 300px;
					position: relative;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
					margin: 100px auto;
				}
				.close-login{
				    background-color: #fff;
				    opacity: 1;
				    position: absolute;
				    right: 0;
				    top: 4px;
				    width: 25px;
				    height: 25px;
				    text-align: center;
				    color: #999;
			    	font-size: 24px;
			    	font-weight: normal;
			    	line-height: 16px;
			    	font-family: 'Arial';
			    	
				    &:hover{
				    	color: @theme-color;
				    }
				}
				.login-users-popup{
					display: table-cell;	
					padding: 25px 30px 0;				
					width: 100%;
					color: #666;
					.block-title{			
						margin-bottom: 15px;								
					}
					label{
						font-weight: normal;
						margin-bottom: 8px;
						color: #000;
					}
					em{
						color: #f00;
					}
					.input-text{
						width: 100%;
						margin-bottom: 15px;
					}
					.button{
						border-radius: 0;
						width: 115px;
					}
					.actions{
						background-color: #eee;
						padding: 15px 30px;
						margin: 0 -30px;
						margin-top: 10px;
						width: 300px;
						float: left;
						> a{
							float: left;
							margin-bottom: 10px;
							width: 100%;
							text-align: center;
							display: none;
						}
						.submit-login{
							float: left;
						}
					}
				}
				.new-users-popup{
					float: left;
					margin-left: 10px;
				}
			}

			.quick-access{
				float: right;
				font-size: 92.31%;
				height: 40px;
			    ul{
			    	list-style: none;
			    	li{
			    		border-left: 1px solid #252525;
			    		padding: 10px 20px;
			    		float: left;
			    		height: 40px;
			    		a{
			    			color: #ccc;
			    			&:before{
			    				margin-right: 5px;
			    				font-family: 'FontAwesome';
			    				content:'\f08a';
			    			}
			    		}
			    		&:hover{
			    			background: @theme-color;
			    			color: #fff;
			    			a{
			    				color: #fff;
			    			}
			    		}
			    		&.first{
			    			background-color: @theme-color;
			    			a{
			    				color: #fff;
			    				&:before{
			    					content:'\f007';
			    				}
			    			}
			    		}
			    		&.link_4{
			    			a{
			    				&:before{
			    					content:'\f00c';
			    				}
			    			}
			    		}			    		
			    		&.last, &.link_3{
			    			display: none;
			    		}
			    	}
			    }
			}
		}

		//Header under
		.header-under{
			padding: 30px 0;
			
			background-color: #fff;
			.logo a{
				text-align: left;
				display: block;
			}
		}
				
	}
}

//Menu
.home_style1{
	.header-menu{
		background-color: @theme-color;
	}			
}
.home_style2{
	.header-menu{
		border-bottom: 2px solid @theme-color;
		border-top: 1px solid @border-color;
		position: relative;
		background-color: #fff;
	}			
}
.home_style3{
	.header-container{
		width: 1170px;
		margin: 0 auto;	
		
		.header-under{
			padding: 0;
			height: 120px;
			
			.logo {
				padding-left: 15px;
				padding-top: 15px;
				
				a {
					text-align: center;
					display: block;
				}
			}
			
			.header-under-right{				
				padding-left: 0;
				border-left: 1px solid @border-color;
				height: 120px;
				position: relative;
			}
			.header-cart{
				position: absolute;
				bottom: 0;
				right: 15px;
				margin: 0;
				z-index: 1;
				.header-cart-title{
					background-color: @theme-color;
					min-width: 170px;
					height: 60px;
					padding: 0 5px;
					&:after{
						display: none;
					}
					.fa-shopping-cart{
						height: 60px;
						padding: 22px 0;
						width: 40px;
					}
					.badge{
						padding: 23px 0;
						height: 60px;
						&:before{
							display:none;
						}
					}
				}
				.header-cart-content{
					top: 66px;
				}
			}			
		}
	}			
}
