.et-categories{
	background: #ececec;
	padding: 40px 0;
	.container{
		overflow: hidden;
	}

	.module-title{
	    color: #000;
	    font-family: @google-font-title;
	    font-size: 123.08%;
	    line-height: 100%;
	    text-transform: uppercase;
	    margin-bottom: 30px;
	    font-weight: bold;
	}

	.et-categories-content {
	    height: auto;
	    padding: 0;
	    margin-left: -30px;
		.category-items{
			margin: 0;
			padding:0;
			overflow: hidden;
		}
		.category-item{
			float: left;
			width: 300px;
			height: 270px;
			padding-left: 30px;	
			.category-item-inner{
				background: #fff;
				border-top: 3px solid #f4f4f4;
				padding: 17px 10px 0 20px;
				display: inline-block;
				float: left;
				width: 100%;
				position: relative;
				&:before{
					background: #fff;
					width: 100%;
					height: 500px;
					position: absolute;
					content: "";
					left: 0;
					top:100%;
				}
				&:hover{
					border-top: 3px solid @theme-color;
				}				
			}
			.category-name{
				a{
					text-transform: uppercase;
					margin-bottom: 15px;
					display: inline-block;
					font-weight: bold;
					&:hover{
						color: @theme-color;
					}
				}
			}
			.child-category{
				list-style: none;
				float: left;
				width: 150px;
				li{
					margin-bottom: 5px;
					a{
						color: #666;
					}
					&.category-link{
						margin-bottom: 20px;
						a{
						    background: #fff;
						    border: 2px solid #666;
						    display: inline-block;
						    line-height: 100%;
						    margin-top: 15px;
						    padding: 6px 12px;
						    color: #666;
						    &:hover{
						    	background: @theme-color;
						    	color: #fff;
						    	border: 2px solid @theme-color;
						    }
						}
					}
				}
			}
			.category-img{
				float: right;
				width: 85px;
				img{
					width: 100%;
					height: 100%;
				}				
			}			
		}	    
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	    background-color: #fff;
	    border-radius: 0;
	    height: 5px;
	    margin-left: 30px;
	    .mCSB_dragger {
	    	background: @theme-color;
	    }
	}	
	.mCSB_horizontal.mCSB_inside > .mCSB_container{
		margin-bottom: 35px;
	}
	.mCSB_scrollTools {
	    opacity: 1;
	}	
	.mCS-inset.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
	    background-color: transparent;
	}
}
