.et-tabs{
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    .products-grid{
        margin-top: 0;
        position: relative;
    }
}
//tabs
.resp-tabs-list{
    background: none;
    border: none; 
    width: 100%;
    display: inline-block;
    line-height: 100%;
    position: absolute;
    top: -54px;
    text-align: right;
    z-index: 1;
    li{        
        position: relative;
        font-family: @google-font-title;
        display: inline;
        margin: 0;
        padding: 17px 0 17px 30px;
        line-height: 100%;
        &:before{
            position: absolute;
            content: "";
            border-left: 5px solid transparent;
            border-bottom: 5px solid @theme-color;
            border-right: 5px solid transparent;
            left: 50%;
            margin-left: 10px;
            bottom: -1px;
            display: none;
        }         
        &.resp-tab-active, &:hover{
            color: #000;  
            cursor: pointer;  
            &:before{
                display: block;
            }       
        }   
    }    
}
//content
.resp-tabs-container {
    margin-bottom: 40px;
    .resp-tab-content {
        display: none;
        &.resp-content-active{
            display: block;
        }
        //button
        .tab-loader{
            text-align: center;
            display: inline-block;
            width: 100%;
            margin-top: 10px;
            span{
                text-transform: uppercase;
                color: #000;
                border: 1px solid @border-color;
                padding: 11px 50px;
                display: inline-block;
                font-size: 84.62%;
                font-weight: bold;
                &.btn-loading, &.btn-complated{
                    display: none;
                }
                &.btn-loading{
                    background: @theme-color;
                    border: 1px solid @theme-color;
                    color: #fff;
                    i{
                        margin-right: 10px;
                        font-size: 15px;
                    }
                }
                &:hover{
                    color: #fff;
                    background: @theme-color;
                    border: 1px solid @theme-color;
                }
            }
            &.loading{
                span{
                    display: none;
                    &.btn-loading{
                        display: inline-block;
                    }
                }
            }
            &.completed{
                span{
                    display: none;
                    &.btn-complated{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

/*home_style3*/
.home_style3{
    .et-tabs{
        .resp-tabs-container{
            margin-bottom: 30px;
            overflow: hidden;
            .resp-tab-content .tab-loader{
                margin-top: 30px;
            }
        }
        .tab-content-products{
            margin: 0;
            margin-right: -1px;
        }
        .products-grid{
            margin-top: -21px;
            .item{
                padding: 0;
                margin-bottom: 0;
                .item-inner{
                    border-left: none;
                    border-top: none;
                    padding: 10px 10px 4px;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }        
        } 
        .resp-tabs-list{
            right: 20px;      
            top: -30px;  
            li{            
                padding: 15px 20px;
                margin-left: 3px;
                border: 1px solid transparent;
                &:before{
                    display: none !important;
                }         
                &.resp-tab-active, &:hover{
                    color: #000;  
                    cursor: pointer;
                    border: 1px solid @border-color;
                    border-top: 3px solid @theme-color;
                    border-bottom: 1px solid #fff;       
                }             
            }
        }     
    } 
}

.resp-accordion {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-accordion-active {
    display: block;   
}

.resp-accordion { 
    border: 1px solid @border-color;
    border-top: 0px solid @border-color;
    margin: 0px;
    padding: 10px 15px;
    &.resp-tab-active{
        border-bottom: none;
    }
}

.resp-tab-title:last-child {
    border-bottom: 12px solid @border-color !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid @border-color;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #ececec;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 12px !important;
	border-left: 4px solid #ececec;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #ececec;
}

.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ececec;
}

/*-----------Accordion styles-----------*/
/*.resp-tab-active {
    background: #DBDBDB !important;
}*/
.resp-easy-accordion  .resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #ececec;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #ececec !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

.resp-accordion:first-child {
    border-top: 1px solid #ececec !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media (max-width: @screen-xs-max) {
    ul.resp-tabs-list {
        display: none;
    }

    .resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #ececec;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }

    .resp-accordion-closed {
        display:none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #ececec !important;
    }
}
