.deal-wrap{
	background: ~"url(../images/bg-deal.png) no-repeat center center";
	margin-bottom: 40px;
	padding: 40px 0 35px 0;
	float: left;
	width: 100%;
	&.deal-home-left{
		padding: 40px 40px 35px 40px;
	}
}
.et-carousel{
	position: relative;
	float: left;
	width: 100%;	
	margin-bottom: 35px;
	.products-grid{
		margin-top: -5px;
		overflow: hidden;
		padding: 5px 0;
		.item{
			margin-bottom: 0;
			background: #fff;
		}
	}
    .owl-controls {
    	position: absolute;
    	top: 5px;
    	right: 0;
		.owl-nav{
			margin: 20px auto 0;
			display: table;
			.owl-prev,
			.owl-next{
				float: left;
				border: 1px solid #959595;
				width: 30px;
				height: 30px;
			    position: absolute;
			    bottom: 0;
			    text-align: center;
			    border-radius: 2px;
			    &:before{
			    	font-family: FontAwesome;
			    	font-size: 11px;
			    	display: inline-block;
			    	margin-top: 4px;				    	
			    }
				&:hover{
					&:before{
						color: @theme-color;
						cursor: pointer;
					}
				}
				&.disabled{
					display: none !important;
				}
			}
			.owl-prev{						
				right: 37px;
				&:before{
			    	content: "\f053";
			    }
			}
			.owl-next{
				right: 0;
				padding-left: 3px;
				&:before{
			    	content: "\f054";
			    }
			}
		}	    	    	
	}
	.special-countdown{
		float: left;
		width: 100%;
		margin-bottom: 16px;
		position: relative;
		padding: 0 5px;
		text-align: center;
		.clock{
			display: table;
			margin: 0 auto;
			> span{
				text-align: center;
				float: left;
				line-height: 18px;
				color: #fff;
				background-color: #31353b;
				border-radius: @border-radius;
				margin: 0 3px;
				width: 44px;
				padding: 5px 0;
				font-weight: bold;
				>span{
					display: inline-block;
					width: 100%;
					margin-top: 7px;
					padding-top: 3px;
					position: relative;
					border-top: 1px solid #464c55;
					font-size: 84.62%;
					font-weight: normal;
					&:before{
						position:absolute;
						top: -2px;
						left: 0;
						background: #202327;
						content: "";
						width: 100%;
						height: 1px;
					}				
				}
			}
		}
	}
}