.price-box{
	margin: 5px 0;
	float: left;
	width: 100%;
	.minimal-price{
		margin: 0;		
		float: right;
	}
	.price-from{
		float: left;
		margin: 0 10px 0 0;
	}
	.price-to{
		float: left;
		margin: 0;
	}
	.price-label{
		float: left;
		margin-top: 2px;
		line-height: 100%;
	}	
}
.price-box .price {
	color: @theme-color;
    line-height: 100%;
	font-size: 115.38%;
	font-weight: bold;
}
.price-box .regular-price .price {
	line-height: 100%;
}
.price-box .old-price .price-label,
.price-box .special-price .price-label{
	display: none;
}
.price-box .old-price{
	float: left;
    margin-right: 10px;	
    color: #666;
}
.price-box .old-price .price{
	text-decoration: line-through;
    font-weight: normal;
    font-size: 100%;
    color: #666;
}
.price-box .special-price {
}
.price-as-configured{
	display: inline;
}
.price-box-bundle {
    float: left;
    width: 100%;
}
