.product-view{
	.product-essential{
		margin-bottom: 40px;
		.product-img-box {
			.product-image{
				position: relative;
				z-index: 1;
				padding: 4px;
				border: 1px solid @border-color;
				img{
					width: 100%;
				}
				.btn-popup-image{
					position: absolute;
				    bottom: 15px;
				    right: 15px;
					width: 40px;
					height: 40px;
				    font-size: 0;
				    z-index: 9999;
				    border: 1px solid @border-color;
				    padding: 9px 11px;
				    background: #fff;
				    img{
				    	width: 100%;
				    }
				    &:before{
						font-family: FontAwesome;
						font-size: 19px;
						content: "\f00e";
					    color: #a2a2a2;
				    }
				    &:hover{
				    	border: 1px solid @theme-color;
				    	cursor: pointer;
				    	&:before{
				    		color: @theme-color;
				    	}
				    }

				}

			}
		}
		
		.more-views{
			margin-top: 10px;
			ul.more-views-slider{
				list-style: none;				
				li{
					float: left;
					a.cloud-zoom-gallery{
						float: left;							
						img{
							border: 1px solid @border-color;
						}
						&.actived, &:hover{								
							img{
								border: 1px solid @theme-color;
							}								
						}
					}
				}
			}
			.owl-controls{
				position: absolute;
				top: 16px;
				left: 0;
				width: 100%;
				line-height: 100%;
				.owl-nav{
					.owl-prev,
					.owl-next{
						position: absolute;
						top: 0;	
						width: 30px;
						height: 30px;
						border: 1px solid @border-color;
						background: #fff;
						border-radius: 2px;		
						&:before{
							position: absolute;
							top: 7px;
							left: 0;
							font-family: FontAwesome;
					    	font-size: 12px;
						    text-align: center;
						    width: 30px;
						    height: 30px;
						}
						&:hover{
							color: @theme-color;
						}
						&.disabled{
							display: none !important;
						}
					}
					.owl-prev{
						left: -13px;
						&:before{
							left: 0;
							content: "\f053"
						}						
					}
					.owl-next{
						right: -13px;
						&:before{
							right: 0;
							content: "\f054"
						}
					}
				}
			}			
		}

		.product-shop{
			.product-name{
				h1{
					font-size: 184.62%;
					line-height: 100%;
					font-weight: bold;
					font-family: @google-font-title;
					color: #000;
					margin: 3px 0 20px;
				}
			}
			.price-box{
				padding: 12px 0;
				border-bottom: 1px solid @border-color;
				border-top: 1px solid @border-color;
				margin: 0;
				float: left;
				width: 100%;
				.price {
					float: right;
				}	
				.old-price{
				    margin: 0;	
				}			
			}
			.availability{
				display: inline-block;
				margin-top: 10px;
				display: none;
			}
			.ratings{
				display: inline-block;
				.rating-box{
					float: left;
				}
				.rating-links{
					float: left;
					margin: -4px 0 0 5px;
				}
			}
			.no-rating{
				float: none;
				margin-bottom: 5px;
			}
			.short-description{
				margin: 20px 0;
				display: inline-block;
				width: 100%;
				h2{
					color: #000;
					font-size: 100%;
					font-family: @google-font-title;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
			//addthis
			.addthis_wrap{
				margin-bottom: 20px;
			}			
		}

		.product-options{
			margin-bottom: 30px;
			dt{
				margin-bottom: 5px;
			}
			dl{
				margin: 0;
			}
			dd{
				margin-bottom: 15px;
			}
			label {
			    color: #000;
			    display: inline-block;
			    font-weight: normal;
			    line-height: 100%;
			}
			.required{
				margin-bottom: 0;
				em{
					float: right;
					color: #eb340a;
				}
			}
			p.required{
				display: none;
			}
			select{
				width: 370px;
				max-width: 100%;
				border-radius: 0;
			}
			.qty-holder{
				input{
					height: 36px;
					width: 36px;
					padding: 5px;
					text-align: center;
					color: #000;
					margin-top: 10px;	
					&:hover,&:focus{
						border: 1px solid @theme-color;
					}			
				}				
			}
			.options-list{
				.label{
					font-size: 100%;
				}
			}
		}

		.add-to-box{
			margin-bottom: 20px;
		}
		.product-options-bottom, .add-to-box{
			float: left;
			width: 100%;
			
			.price-box{
				display: none;
			}
			.qty-wrap{
				display: inline-block;
				width: 100%;
				margin-bottom: 15px;
				label{
					font-weight: normal;
					margin: 8px 10px 0 0;
					float: left;				
				}
				input{
					height: 36px;
					width: 36px;
					padding: 5px;
					text-align: center;
					background: #fff;
					float: left;
					margin-right: 3px;	
					color: #000;
					&.quantity-minus,
					&.quantity-plus{
						font-size: 15px;
						line-height: 34px;
						padding-top: 0;
						font-family: 'Times New Roman';
					}	
					&:hover,&:focus{
						border: 1px solid @theme-color;
					}			
				}
			}

			.add-to-links{
				margin-top: 10px;
				float: left;
				.item-wishlist, 
				.item-compare{
					width: 43px;
					height: 43px;
					border: none;
					margin-left: 10px;
					border-radius: @border-radius;
						&:before{
							margin-top: 12px;
						}
				}
			}
			
			.item-addcart{
				text-align: left;
				width: auto;
				margin-top: 10px;
				> .btn-cart{
					padding: 15px 30px;
					background: @theme-color;
					width: auto;
					color: #fff;
					margin: 0;
					height: 43px;
					border: none;					
					&:hover{
						background: #31353b;
					}
				}
			}					
		}			
	}

	//detail block service
	.detail-service{
		.block-service-detail{
			border: 1px solid @border-color;
			border-bottom: none;
			.block-service-item{
				padding: 18px 20px;
				border-bottom: 1px solid @border-color;
				text-align: center;
				i{
					font-size: 24px;
					color: @theme-color;
					display: inline-block;
					width: 100%;
				}
				a{
					font-size: 107.69%;
					margin: 7px 0;	
					width: 100%;
					display: inline-block;			
				}
			}
		}
	}

	//detail tabs
	.product-collateral{
		float: left;
		width: 100%;
		.product-tab-detail{			
			float: left;
			width: 100%;
			.product-tab-nav{
				float: left;
				width: 100%;	
				border-bottom: 2px solid @theme-color;			
				li {
					font-weight: bold;
					text-transform: uppercase;
					line-height: 100%;
					list-style: none;
					float: left;
					margin-right: 1px;	
					padding: 18px 30px;	
					font-size: 107.69%;	
					background: #ebebeb;	
					a{
						display: block !important;
					}	
					&.active,
					&:hover{
						cursor: pointer;
						background: @theme-color;
						a{
							color: #fff;
						}
					}
				}
			}
			.tab-content{
				padding: 20px 20px 40px;
				border: 1px solid @border-color;
				border-top: none;
				float: left;
				width: 100%;
				h2{
					color: #000;
					font-size: 107.69%;
					font-weight: bold;
					display: inline-block;
					line-height: 100%;
					margin-bottom: 12px;
					width: 100%;
				}

				#tab_tags{
					.box-tags{
						.product-tags {
						    display: block;
						    margin: 0 0 15px;
						    li{
						    	display: inline;
						    	padding: 0 5px;
						    	&.first{
						    		padding-left: 0;
						    	}
						    }
						}
						h3 {
						    font-size: 100%;
						    font-weight: bold;
						}						
						#addTagForm{
							margin-bottom: 10px;
							.form-add{
								.input-box{
									#productTagName{
										float: left;
										padding: 6px 10px 7px;
									}
								}
								.button{									
									margin-left: 5px;
								}
							}
						}
					}
				}

				#tab_reviewform{
					#customer-reviews{
						margin-bottom: 30px;
						display: inline-block;
						dl{
							display: inline-block;
							width: 100%;
							margin: 20px 0 10px 0;
							dd{
								margin-bottom: 15px;
							}
						}
						dt{
							font-weight: normal;
						}
						.pager{
							label, strong{
								font-weight: normal;
							}
						}
					}

					#review-form{
						display: inline-block;
						width: 100%;
						h3{
						    font-size: 110%;
						    font-weight: normal;
						    line-height: normal;
						    margin-top: 0;
						}
						h4{
							font-size: 100%;
						    line-height: normal;
						    margin-top: 0;
						    text-transform: uppercase;
						}
						.buttons-set{
							display: inline;
						}
					}
					#product-review-table{
						td{
							input[type="radio"]{
								margin-left: 49%;
							}
						}						
					}
					.form-list{
						padding: 0;
						list-style: none;
						display: inline-block;
						margin-top: 20px;
						width: 100%;
						textarea{
							width: 100%;
						}
					}					
				}

				#tab_additional{
					.label{
						font-size: 100%;
						font-weight: normal;
						border: none;
						color: #666;
						line-height: 18px;
						float: left;
					}
				}
			}
		}


		/* css  block-related*/
		.block-related{
			display: inline-block;
			width: 100%;			
			margin-top: 40px;			
			.products-grid{
				margin-top: 0;
				ol.releated-product-list{
					list-style: none;									
				}								
			}				
		}

		/*box-up-sell*/
		.box-up-sell{
			display: inline-block;
			width: 100%;
			margin-top: 40px;			
			.products-grid{
				margin-top: 0;
				ul.up-sell-list{
					list-style: none;									
				}								
			}			
		}

		.box-up-sell,
		.block-related{
			margin-bottom: 0;
			.block-title{
				margin-bottom: 20px;
			}
			.owl-controls{
				position: absolute;
				top: -57px;
				left: 0;
				width: 100%;
				.owl-nav{
					margin: 20px auto 0;
					display: table;
					.owl-prev,
					.owl-next{
						float: left;
						border: 1px solid #959595;
						width: 30px;
						height: 30px;
					    position: absolute;
					    bottom: 0;
					    text-align: center;
					    border-radius: 2px;
					    &:before{
					    	font-family: FontAwesome;
					    	font-size: 11px;
					    	display: inline-block;
					    	margin-top: 4px;				    	
					    }
						&:hover{
							&:before{
								color: @theme-color;
								cursor: pointer;
							}
						}
						&.disabled{
							display: none !important;
						}
					}
					.owl-prev{						
						right: 37px;
						&:before{
					    	content: "\f053";
					    }
					}
					.owl-next{
						right: 0;
						padding-left: 3px;
						&:before{
					    	content: "\f054";
					    }
					}
				}
			}
		}	

	}
}
