<?php
/**
 * @package ET_Ajax
 * @version 1.0.4
 * @copyright Copyright (c) 2015 Ecom-Themes. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential row">
        <div class="product-img-boxcol-xs-12">
            <?php echo $this->getChildHtml('media') ?>
        </div>
		<form class="col-xs-12" action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<?php echo $this->getBlockHtml('formkey') ?>
			<div class="no-display">
				<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
				<input type="hidden" name="related_product" id="related-products-field" value="" />
			</div>

			<div class="product-shop">
				<?php echo $this->getReviewsSummaryHtml($_product, false, true); ?>
				<div class="product-name">
					<h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
				</div>
				
				<?php echo $this->getTierPriceHtml(); ?>
                <?php echo $this->getChildHtml('alert_urls'); ?>
                <?php echo $this->getChildHtml('product_type_data'); ?>
                <?php echo $this->getChildHtml('extrahint'); ?>
				
				<?php if ($_product->getShortDescription()): ?>
					<div class="short-description">
						<h2><?php echo $this->__('Overview'); ?></h2>
						<div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'); ?></div>
					</div>
				<?php endif; ?>
				
				<div class="addthis_wrap">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html" style="width:95px; height:20px; float:left;"></iframe>
					<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
					<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
					<!-- AddThis Button END -->
				</div>
				
				<?php if (!$this->hasOptions()):?>
					<div class="add-to-box">
						<?php if($_product->isSaleable()): ?>
							<?php echo $this->getChildHtml('addtocart') ?>
							<?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
							<?php endif; ?>
						<?php endif; ?>
						<?php echo $this->getChildHtml('addto') ?>
					</div>
					<?php echo $this->getChildHtml('extra_buttons') ?>
				<?php elseif (!$_product->isSaleable()): ?>
					<div class="add-to-box">
						<?php echo $this->getChildHtml('addto') ?>
					</div>
				<?php endif; ?>
				
				<?php echo $this->getChildHtml('other');?>

				<?php if ($_product->isSaleable() && $this->hasOptions()):?>
					<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
				<?php endif;?>

			</div>

			<div class="clearer"></div>
			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>
		</form>
		
		<script type="text/javascript">
		//<![CDATA[
			productAddToCartForm = new VarienForm('product_addtocart_form');
			productAddToCartForm.submit = function(button, url) {
				if (this.validator.validate()) {
					var form = this.form;
					var oldUrl = form.action;

					if (url) {
					   form.action = url;
					}
					var e = null;
					try{
    					if (isFrame){
                    		// form = $('product_addtocart_form');
                    		window.top.checkout_cart_add(form, 'form');
                    	} else {
                    		window.checkout_cart_add(form, 'form');
                    	}
					} catch(e) {
					}
					this.form.action = oldUrl;
					if (e) {
						throw e;
					}
				}
			}.bind(productAddToCartForm);

			productAddToCartForm.submitLight = function(button, url){
				if(this.validator) {
					var nv = Validation.methods;
					delete Validation.methods['required-entry'];
					delete Validation.methods['validate-one-required'];
					delete Validation.methods['validate-one-required-by-name'];
					// Remove custom datetime validators
					for (var methodName in Validation.methods) {
						if (methodName.match(/^validate-datetime-.*/i)) {
							delete Validation.methods[methodName];
						}
					}

					if (this.validator.validate()) {
						if (url) {
							this.form.action = url;
						}
						this.form.submit();
						var e = null;
						try{
	    					if (isFrame){
	                    		// form = $('product_addtocart_form');
	                    		window.top.handleWishlist(form, 'form');
	                    	} else {
	                    		window.handleWishlist(form, 'form');
	                    	}
						} catch(e) {
						}
					}
					Object.extend(Validation.methods, nv);
				}
			}.bind(productAddToCartForm);
		//]]>
		</script>
    </div>
    
    <div class="product-collateral">
		<div class="product-tab-detail">
		    <?php
		    $custom_tab = Mage::helper('edge')->getConfig('custom_tab');
		    if ($custom_tab) {
                $custom_tab_name = Mage::helper('edge')->getConfig('custom_tab_name');
                $custom_tab_content = Mage::helper('edge')->getConfig('custom_tab_content');
                if (!$custom_tab_name){
                    $custom_tab = false;
                }
                if (!$custom_tab_content) {
                    $custom_tab = false;
                } else {
                    $custom_tab_content = Mage::helper('cms')->getBlockTemplateProcessor()->filter($custom_tab_content);
                }
            }
		    ?>
			<ul id="product_tab_nav" class="product-tab-nav">
				<?php if ($_description = $this->getChildHtml('description')):?>
				<li class="active"><a data-toggle="tab" href="#tab_decription"><?php echo $this->__('Description') ?></a></li>
				<?php endif; ?>
				<?php if($product_additional_data = $this->getChildHtml('product_additional_data')): ?>
				<li>
					<a data-toggle="tab" href="#tab_tags"><?php echo $this->__('Tags') ?></a>
				</li>
				<?php endif; ?>
				<?php if($review_form = $this->getChildHtml('review_form')): ?>
				<li>
					<a data-toggle="tab" href="#tab_reviewform"><?php echo $this->__('Review') ?></a>
				</li>
				<?php endif; ?>
				<?php if ($_additional = $this->getChildHtml('additional')):?>
				<li>
					<a data-toggle="tab" href="#tab_additional"><?php echo $this->__('Additional') ?></a>
				</li>
				<?php endif; ?>
				
				<?php if ($custom_tab): ?>
				<li>
					<a data-toggle="tab" href="#tab_custom"><?php echo $custom_tab_name; ?></a>
				</li>
				<?php endif; ?>
			</ul>
			<div class="tab-content">
				<?php if ( $_description ):?>
				<div id="tab_decription" class="tab-pane fade in active">
					<?php echo $_description ?>
				</div>
				<?php endif;?>
				<?php if( $product_additional_data ): ?>
				<div id="tab_tags" class="tab-pane fade">
					<?php echo $product_additional_data; ?>
				</div>
				<?php endif;?>
				<?php if( $review_form ): ?>
				<div id="tab_reviewform" class="tab-pane fade">
					<?php echo $this->getChildHtml('product_reviews');?>
					<?php echo $review_form; ?>
				</div>
				<?php endif;?>
				<?php if ( $_additional ) : ?>
				<div id="tab_additional" class="tab-pane fade">
					<?php echo $_additional ?>
				</div>
				<?php endif;?>
				
				<?php if ($custom_tab): ?>
				<div id="tab_custom" class="tab-pane fade">
					<?php echo $custom_tab_content; ?>
				</div>
				<?php endif; ?>
			</div>
		</div>
		<?php
		$show_related_products = Mage::helper('edge')->getConfig('show_related_products', true);
		$show_upsell_products = Mage::helper('edge')->getConfig('show_upsell_products', true);
        if ($show_upsell_products){
            echo $this->getChildHtml('upsell_products');
        }
		if ($show_related_products){
            echo $this->getChildHtml('related_products');
        }
		?>
    </div>
</div>
