<?php
/**
 * @package ET_Ajax
 * @version 1.0.4
 * @copyright Copyright (c) 2015 Ecom-Themes. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

$texts = array(
    // compare
    'The product <strong>%s</strong> has been added to comparison list.',
    'The product <strong>%s</strong> has been removed from comparison list.',
    'The comparison list was cleared.',
    
    // checkout
    '<strong>%s</strong> was added to your shopping cart.',
    'Item was removed successfully.',
    'Can not remove the item.',
    'Quote item is not found.',
    '<strong>%s</strong> was updated in your shopping cart.',
    'Cannot update the item.',
    
    // wishlist
    'Wishlist Has Been Disabled By Admin',
    'Please Login First',
    'Unable to Create Wishlist',
    'Product Not Found',
    '<strong>%1$s</strong> has been added to your wishlist. Click <a href="%2$s">here</a> to continue shopping.',
    'An error occurred while adding item to wishlist: %s',
    'An error occurred while adding item to wishlist.',
    'Item has been removed from your wishlist.',
    'An error occurred while deleting the item from wishlist: %s',
    'An error occurred while deleting the item from wishlist:: %s'
);
?>

<?php foreach($texts as $tx): ?>
    <div class="list-group">
    <div class="list-group-item"><?php echo $tx; ?></div>
    <div class="list-group-item"><?php echo $this->__($tx); ?></div>
    </div>
<?php endforeach; ?>

