<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php

$product = $this->getProduct();
$helper  = $this->helper('catalog/output');

// Get the base image path
$baseImageFile = ($product->getImage() != 'no_selection' and $product->getImage()) ? $product->getImage() : false;

$galleryImages = array();

// Process the gallery images
foreach ($this->getGalleryImages() as $image) {
    if ($baseImageFile and $image->getFile() === $baseImageFile) {
        //only add images that aren't the baseImage
        continue;
    }

    $galleryImages[] = $image;
}

$baseImageSize = array(
    'x' => 736,
    'y' => 460,
);

$galleryImageSize = array(
    'x' => 95,
    'y' => 60,
);

$zoomSize = array(
    'x' => 940,
    'y' => 587,
);

$index = 0;

?>
<?php if ($baseImageFile): ?>
    <div class="product-image product-image-zoom">
        <a href="#product-media-modal" data-toggle="media" data-index="<?php echo $index++ ?>">
            <img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($baseImageSize['x'], $baseImageSize['y'])->setQuality(100); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>">
        </a>
    </div>
<?php endif ?>

<?php if ($galleryImages): ?>
    <div class="more-views">
        <ul>
            <?php foreach ($galleryImages as $image): ?>
                <li>
                    <a href="#product-media-modal" data-toggle="media" data-index="<?php echo $index++ ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'image', $image->getFile())->resize($galleryImageSize['x'], $galleryImageSize['y'])->setQuality(100) ?>" alt="<?php echo $this->htmlEscape($image->getLabel()) ?>">
                    </a>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>

<?php if ($baseImageFile || $galleryImages): ?>

    <div class="modal modal-media fade" id="product-media-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $helper->productAttribute($product, $product->getName(), 'name') ?></h4>
                </div>
                <div class="modal-body">

                    <div id="product-media-carousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <?php $index = 0; ?>
                            <?php if ($baseImageFile): ?>
                                <li data-target="#product-media-carousel" class="active" data-slide-to="<?php echo $index++ ?>"></li>
                            <?php endif ?>
                            <?php $count = 0; ?>
                            <?php foreach ($galleryImages as $image): ?>
                                <li data-target="#product-media-carousel" class="<?php if ($index == $count): ?>active<?php endif ?>" data-slide-to="<?php echo $index++; ?>"></li>
                                <?php $count++; ?>
                            <?php endforeach ?>
                        </ol>

                        <div class="carousel-inner">
                            <?php $index = 0; ?>
                            <?php if ($baseImageFile): $index++; ?>
                                <div class="item active">
                                    <img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($zoomSize['x'], $zoomSize['y'])->setQuality(100); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>">
                                </div>
                            <?php endif ?>
                            <?php foreach ($galleryImages as $image): ?>
                                <div class="item <?php if ($index++ == 0): ?>active<?php endif ?>">
                                    <img src="<?php echo $this->helper('catalog/image')->init($product, 'image', $image->getFile())->resize($zoomSize['x'], $zoomSize['y'])->setQuality(100) ?>" alt="<?php echo $this->htmlEscape($image->getLabel()) ?>">
                                </div>
                            <?php endforeach ?>
                        </div>

                        <?php if ($index > 1): ?>
                            <a class="left carousel-control" href="#product-media-carousel" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#product-media-carousel" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        <?php endif ?>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<?php endif ?>
