<?php
/**
 * @package ET_Megamenu
 * @version 1.0.4
 * @copyright Copyright (c) 2014 EcomTheme. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/* @var $this ET_Megamenu_Block_Navbar */

$position = $this->getPosition();
$top_menus = $this->getTopLevelMenus();
if (count($top_menus)) :
$uniqid = uniqid();
?>
<div class="menu-nav-ver">
	<div class="menu-title-ver">
		<i class="fa fa-bars"></i>
		<span><?php echo $this->__('Category');?></span>
	</div>
	<ul id="megamenu_list_<?php echo $uniqid; ?>" class="menu-nav-list">
	<?php
		foreach ($top_menus as $menu){
			echo $this->getMenuHtml($menu);
		}
	?>
	</ul>
	<div class="menu-showmore">
		<span class="show-on"><?php echo $this->__('Show more category');?></span>
		<span class="show-off"><?php echo $this->__('Close category');?></span>
	</div>	
</div>
<?php endif; ?>