<?php
/**
 * @package ET_CategorySearch
 * @version 1.0.0
 * @copyright Copyright (c) 2015 Ecom-Themes. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

$block_id = $this->getBlockId();
$block_title = $this->getBlockTitle();
if (empty($block_id)) {
    $block_id = 'block_categorysearch_'.uniqid();
}

$helper = Mage::helper('catalogsearch');
$theme_helper = Mage::helper('edge');
$categories = $theme_helper->getSearchCategories();
?>
<div id="<?php echo $block_id; ?>" class="category-search-form">
	<div class="category-search-content">
		<form id="search_mini_form" action="<?php echo $helper->getResultUrl() ?>" method="get">
			<?php if (count($categories)): ?>
			<select id="<?php echo $theme_helper->getCategoryParamName() ?>" name="<?php echo $theme_helper->getCategoryParamName() ?>">
				<option value=""><?php echo $this->__('All Categories'); ?></option>
				<?php foreach ($categories as $category):?>
					<option value="<?php echo $category->getId();?>"><?php echo $category->getNameDecorated(); ?></option>
				<?php endforeach;?>
			</select>
			<?php endif; ?>
			<input size="30" id="search" type="text" name="<?php echo $helper->getQueryParamName() ?>" class="input-text" onfocus="if(this.value=='Enter your keyword...') this.value='';" onblur="if(this.value=='') this.value='Enter your keyword...';" value="Enter your keyword..."  />
			<button type="submit" title="<?php echo $this->__('Search') ?>" class="button-search"><span><?php echo $this->__('Search') ?></span></button>
			<div id="search_autocomplete" class="search-autocomplete"></div>
		</form>
	</div>
</div>

