.home_style2, .home_style3{
	.nav-container{
		.menu-title{
			background-color: @theme-color;
			height: 50px;
			&:before{
				height: 50px;
			}
			> span{
				padding: 17px 20px;
			}
			> i{
				padding: 18px 20px;
				height: 50px;
			}
		}
		.menu-showmore{
			border: none;
			height: 50px;
			border: none;
		}		
	}
	#nav{
		border: none;
		height: 354px;
	}
}
.nav-container{
	position: absolute;
	width: 270px;	
	z-index: 2;
	.menu-title{
		height: 57px;
		float: left;
		width: 100%;
		position: relative;
		&:after{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #000;
			opacity: 0.1;
		}
		&:before{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 57px;
			width: 57px;
			background: #000;
			opacity: 0.2;
		}		
		> i{
			font-size: 14px;
			color: #fff;
			float: left;
			text-align: center;
			width: 57px;
			height: 57px;
			position: relative;
			padding: 20px;
			z-index: 1;
		}		
		> span{
			font-size: 107.69%;
			text-transform: uppercase;
			color: #fff;
			padding: 20px;
			font-weight: bold;
			position: relative;
			float: left;
			z-index: 1;
		}
	}

	.menu-showmore{
		border: 1px solid @border-color;
		border-top: none;
		padding: 15px 20px;
		height: 57px;
		width: 100%;
		text-align: center;
		float: left;
		background: #fff;
		color: #000;
		&:hover{
			color: @theme-color;
			cursor: pointer;
		}
		.show-off{
			display: none;
		}
	}
}

#nav{
	float: left;
	border: 1px solid @border-color;
	border-top: none;
	border-bottom: none;
	background-color: #fff;
	height: 400px;
	&.menu-full{
		height: auto;
	}
	>li {
		float: left;
		position: relative;
		width: 100%;
		&.first-off{
			display: none;
		}
		>a{
			display: block;
			padding: 18px 20px;	
			position: relative;
			border-bottom: 1px solid @border-color;
			line-height: 100%;		
		}
		&.active{
			background-color: #f6f6f6;
			>a{
				color: @theme-color;			
			}			
		}	
		&.parent{
			> a:after{
				content:"\f054";
				font-family: 'FontAwesome';
				font-size: 11px;
				position: absolute;
				right: 20px;
			}
		}
		&:hover{
			background-color: #f6f6f6;
		}	
		
		&.over>a,
		&:hover>a,
		>a:hover{
			color: @theme-color;

		}
		
		&:hover>ul,
		>a:hover+ul{
			display: block;
			visibility: visible;
		}
		> ul{
			padding-left: 0;
		}
	}

	ul{
		display: block;
		width: 200px;
		position: absolute;
		z-index: 1050;
		visibility: hidden;
		background: #31353b;
		left: 100%;
		top: 0;
		&.level1{
			left: 100%;
			top: 0;
		}
		
		> li{		
			padding-left: 15px;	
			> a{
				display: block;
				padding: 15px 10px;
				color: #ccc;
			}
			&:hover{
				background: #25282d;
			}
			&.parent{
				position: relative;
				&:after{
					position: absolute;
					content: "\f054";
					font-family: FontAwesome;
					top: 16px;
					right: 20px;
					font-size: 10px;
				}
				&:hover{
					&:after{
						color: @theme-color;
					}
				}
				> a{
					position: relative;
				}
				&:hover>a,
				&:focus>a{
					&:before,&:after{
						display: block;
						content: '';
					}
				}
			}
					
			&:hover>a,
			&:focus>a,
			>a:hover,
			>a:focus{
				color: #fff;
			}
			
			&:hover>ul,
			&:focus>ul,
			>a:hover+ul,
			>a:focus+ul{
				display: block;
				visibility: visible;
			}
		}
	}
}



/**----css menu mobile----***/
//sidebar
.mobile-nav{
	position: relative;
	height: 46px;
	width: 100%;
	background: @theme-color;
	display: none;
	
	&:before{
		position: absolute;
		content: "";
		top: 0;
		left: -400px;
		background: @theme-color;
		width: 10000px;
		height: 100%;
	}
	.menu-button {
	    position: absolute;
		padding: 11px 15px 10px;
		line-height: 100%;
		font-size: 25px;
		color: #fff;
		left: 0;
		top: 0;
		background: @theme-color;
		&:before{
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			background: #000;
			opacity: 0.3;
			width: 1px;
			height: 100%;
		}
		&:hover{
			cursor: pointer;
		}
	}	
}

#et_theme_wrapper{
	position: relative;
	left: 0;
	overflow: hidden;
}
.show_sidebar #et_theme_wrapper{
	left: 220px;
}
.show_sidebar .et_theme_wrapper {	
	left: 0;
	float: left;
	height: 100%;
}
.et_menu_sidebar{
    left: -220px;
	top: 0;
    margin: 0;
    position: absolute;
    width: 220px;
	height: 100%;
	background: #1f1f1f;
	display: none;
	#et-screennav{    	
    	padding: 0 12px;
	}
}
.show_sidebar .et_menu_sidebar{
	left: 0;
	display: block;
}
#et-screennav ul.siderbar-menu li ul{
	padding-left:10px;
}
#et-screennav ul.siderbar-menu li a {
	padding: 10px 0 10px 7px;
	line-height: 100%;
	display:block;
	border-bottom: 1px solid #333;
	color: #ccc;
	&:hover{
		color: @theme-color;
	}
}


/*collapse*/
#menu_collapse{
	position:absolute;
	left: 0;	
	z-index: 999;
	top: 46px;
	width:100%;
	a{
		color: #ccc;
		&:hover{
			color: @theme-color;
		}
	}
}
#menu_collapse ul.nav-menu{
	background-color: #1f1f1f;
}
#menu_collapse ul.nav-menu > li:hover,
#menu_collapse ul.nav-menu > li.active{
	color:@theme-color;
}
#menu_collapse ul.nav-menu > li > a {
    border-bottom: 1px solid #333;
}
#menu_collapse ul.nav-menu > li:hover,
#menu_collapse ul.nav-menu > li.active,
#menu_collapse ul.nav-menu > li.active > a > span,
#menu_collapse ul.nav-menu > li:hover > a > span{
	color:@theme-color;
}
.nav-collapse .nav-menu > li > a, 
.nav-collapse .dropdown-menu a {           
    padding: 7px 10px;
	display: block;
}
.nav-collapse .nav-menu > li {
    float: none;
	position:relative;
	z-index:10;
}
ul.nav-menu li.parent {
    position: relative;
}
.nav-collapse .nav > li {
    float: none;
}
ul.nav-menu li.parent .menuress-toggle.menuress-toggle:before {
    content: "\f067";
	font-family: 'FontAwesome';
	font-size:10px;
	display:block;
}
ul.nav-menu li.parent.open .menuress-toggle.menuress-toggle:before {
    content: "\f068";
	font-family: 'FontAwesome';
	font-size:10px;
	display:block;
}
ul.nav-menu li.parent .menuress-toggle {
    cursor: pointer;   
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    vertical-align: middle;
    width: 40px;
	color:#ccc;
}
ul.nav-menu li.parent > .res-wrapnav {
    height: 0;
    opacity: 0;
}
ul.nav-menu li.parent > .res-wrapnav ul{
	position:relative;
	z-index:1;
	&.level0 > li.last{
		padding-bottom: 12px;
	}	
}
ul.nav-menu li.parent.open > .res-wrapnav {
    display: block;
    opacity: 1;
	background:#2B2B2B;
	border-bottom: 1px solid #333;
}
ul.nav-menu li.parent > .res-wrapnav ul li{
	padding:5px 15px;
}

