/* Custom css for et_slider */
.block-slider{
	max-height: 455px;
	overflow: hidden;
}
.et-slider-container{
	position: relative;
	overflow: hidden;
}

.et-slider-container .loading-screen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 2;
}
.et-slider-container .loading-screen .transparency{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bacground-color: #fff;
}

.et-slider-container .loading-screen .loading-mask{
	background: ~"url(../images/loader.gif) no-repeat center center";
	position: absolute;
	display: block;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}

.et-slider-slides{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.et-slider-container{

	.slider-container-inner{
		max-width: 1170px;
		margin: 0 auto;
	}
	
	.et-slider-nav{
		position: absolute;
		bottom: 30px;	
		> li{
			width: 10px;
			height: 10px;
			background-color: #fff;
			border-radius: 50%;
			margin: 0 3px;
			float: left;
			position: relative;
			&:before{
				position: absolute;
				top: -2px;
				left: -2px;
				border: 1px solid #fff;
				content: "";
				width: 14px;
				height: 14px;
				border-radius: 50%;
				display: none;
			}
			&:hover, &.av{
				&:before{
					display: block;
				}
			}
		}		
	}

	.caption-description{
		color: #fff;
		> h2{
			font-size: 230%;
			border: 3px solid #fff;
			padding: 25px 20px;
			text-transform: uppercase;
			font-family: @google-font-title;
			font-weight: bold;	
		}
		&.black{
			color: #000;
		}
	}
	.caption-tilte{	
		color: #fff;			
		> h3{
		    font-size: 138.46%;
		    text-transform: uppercase;
		    font-weight: bold;
		}
		> h2 {
			font-size: 257%;
			text-transform: uppercase;				
		}
		> h1{
			font-size: 369.23%;
			text-transform: uppercase;
			font-weight: bold;
		}
		&.black{
			color: #000;
		}				
	}
	.button{
		padding: 16px 30px;
		font-size: 92.31%;
		&:hover{
			color: #fff;
		}
	}
}

#et-slider-prev,
#et-slider-next{
	display: none;
}

