.category-search-form{
	height: 46px;
	margin-top: 5px;
	float: right;
	.category-search-content{		
		height: 46px;
	}
	#search_mini_form{
		.jqTransformHidden{
			display: none;
		}	
		.jqTransformSelectWrapper{
			color: #000;
			height: 46px;	
			border: 1px solid @border-color;
			border-right: none;
			background-color: #f6f6f6;
			border-radius: 2px 0 0 2px;
			float: left;
			width: 195px !important;
			> div{
				height: 46px;
				padding: 13px;
				position: relative;
				overflow: hidden;
				span{
					white-space: nowrap;
				}
			}	
			.jqTransformSelectOpen:before{
				font-family: FontAwesome;
				font-size: 11px;
				content: "\f078"; 
				float: right;
				position: absolute;
				right: 10px;
			}	
			ul{
				padding: 5px 13px;
				border: 1px solid @border-color;
				background: #fff;
				height: 400px;
				overflow: auto;
				position: relative;
				z-index: 1;
				margin: -2px 0 0 -1px;
				width: 196px !important;
				li{
					margin: 7px 0;
				}
			}	
		} 
		.jqTransformInputWrapper{
			float: left;
			width: 325px !important;
			input{
				box-shadow: none;
				width: 325px !important;
				height: 46px;
				border: none;
				border: 1px solid @border-color;	
				border-radius: 0;
				padding: 10px 15px;
				color: #000;
				float: left;
			}			
		}      
		button{
			width: 50px;
			height: 46px;		
			border: 1px solid @border-color;
			border-left: none;
			color: #000;
			padding: 13px 0;
			background-color: #fff;
			border-radius: 0 2px 2px 0;
			&:before{
				font-family: FontAwesome;
				font-size: 12px;
				content: "\f002";
			}
			span{
				font-size: 0;
			}
			&:hover{				
				color: @theme-color;
			}
		}
	}	
}

/*search home style 3*/
.home_style3{
	.category-search-form{
		width: 100%;
		margin: 0;
		border-bottom: 1px solid @border-color;
		height: 60px;
		.category-search-content{
			height: 60px;
		}
		#search_mini_form{
			.jqTransformSelectWrapper{
				background-color: #fff;
				border: none;
				border-right: 1px solid @border-color;
				height: 30px;
				margin-top: 15px;
				> div{
					padding: 6px 30px;
				}
			}
			.jqTransformInputWrapper{
				input{
					border: none;
					width: 450px !important;
					height: 30px;
					margin-top: 15px;
					padding: 10px 20px;
				}
			}
			button{
				background-color: #1a1c1f;
				border: none;
				border-radius: 0;
				width: 170px;
				text-align: center;
				float: right;
				height: 60px;
				&:before{
					color: @theme-color;
					margin-right: 10px;
				}
				span{
					font-size: 100%;
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
				}
				&:hover{
					span{
						color:@theme-color;
					}
				}
			}
		} 
	}
}