<?php
/**
 * @package ET_Tabs
 * @version 1.0.0
 * @copyright Copyright (c) 2015 Ecom-Themes. (http://www.ecomtheme.com)
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/* @var $this ET_Tabs_Block_List */
/* @var $helper ET_Tabs_Helper_Data */

$helper = Mage::helper('tabs');
$items = $this->getTabs();
$active = $this->getActive();
if (! empty($items)) {
    //if (!$active) {
        foreach ($items as $i => $tab) {
            $tab->active = true;
            // break;
        }
    //}
}

if (! empty($items)) {

	$block_id = $this->getBlockId();
	$block_title = $this->getBlockTitle();
	
	$tabs_container_id = 'tabs_container_' . uniqid();
?>
	
<div class="block et-tabs"<?php if ($block_id) : ?> id="<?php echo $block_id; ?>"<?php endif; ?>>
	<?php if($block_title): ?>
	<div class="block-title">
		<strong>
			<span><?php echo Mage::helper('core')->escapeHtml($block_title); ?></span>
		</strong>
	</div>
	<?php endif; ?>
	
	<div class="block-content products-grid">
	
		<!--[if lt IE 9]>
		<div id="<?php echo $tabs_container_id; ?>" class="tabs-container msie lt-ie9"><![endif]-->
		<!--[if IE 9]>
		<div id="<?php echo $tabs_container_id; ?>" class="tabs-container msie"><![endif]-->
		<!--[if gt IE 9]><!-->
		<div id="<?php echo $tabs_container_id; ?>" class="tabs-container"><!--<![endif]-->
		
		<?php // tabs here
			$tabs = array();
			$i = 0;
			$tabs_item_tpl = '<li class="resp-tab-item%s">%s</li>';
			$tabs_content_tpl = '<div class="resp-tab-content%s"%s>%s</div>';
			$is_active = 0;
			foreach ($items as $tab){
				$tabNameStripped = Mage::helper('core')->escapeHtml($tab->getName());
				$tabs['list'][] = $this->__($tabs_item_tpl, $tab->active_class ? ' resp-tab-active' : '', $tabNameStripped);
				$tabs['content'][] = $this->__($tabs_content_tpl,
					$tab->active_class ? ' resp-tab-content-active' : '',
					$tab->active_class ? ' style="display: block;"' : '',
					$this->getTabContent($tab)
				);
				$i++;
			}
			echo $this->__('<ul class="resp-tabs-list">%s</ul>', implode('', $tabs['list']));
			echo $this->__('<div class="resp-tabs-container">%s</div>', implode('',$tabs['content']));
		?>
		</div>
		<script type="text/javascript">
			jQuery(function($){
				$('#<?php echo $tabs_container_id; ?>').easyResponsiveTabs();
				$(document).on('click', '#<?php echo $tabs_container_id; ?> .tab-loader', function(e){
					e.preventDefault();
					var $this = $(this), data = $this.data(), href = $this.attr('href'), canLoad = !$this.hasClass('completed') && !$this.hasClass('loading');
					canLoad && $.ajax({
						type: 'POST',
						url: href,
					    data: $.extend({
					        block: "<?php echo $this->getNameInLayout(); ?>",
					        config: "<?php echo $this->configToString(); ?>"
					    }, data),
					    beforeSend: function(){ $this.addClass('loading'); },
						complete: function(xhr) {
							$this.removeClass('loading');
						    if (xhr.responseJSON) {
							    var response = xhr.responseJSON;
							    response.content && $this.prev().append(response.content);
							    response.debug && $this.prev().append(response.debug);
						    } else {
						    	$this.prev().html(xhr.responseText);
						    }
						    try{ handleUrls(); } catch(e){}
						    if (data.page < data.last-1){
						        $this.data('page', ++data.page);
						    } else {
						        $this.addClass('completed');
						    }
						}
					});
				});
			});
		</script>
	</div>
</div>
<?php
} // !empty($items)